<div>
    <div class="row g-3 align-items-center">
        <div class="col-2">
            <label for="name" class="col-form-label">Name</label>
        </div>
        <div class="col-10">
            <div id="name">Test</div>
        </div>
    </div>
    <div class="row g-3 align-items-center">
        <div class="col-2">
            <label for="email" class="col-form-label">Email</label>
        </div>
        <div class="col-10">
            <div id="email">Test</div>
        </div>
    </div>
    <div class="row g-3 align-items-center">
        <div class="col-2">
            <label for="phone" class="col-form-label">Phone</label>
        </div>
        <div class="col-10">
            <div id="phone">Test</div>
        </div>
    </div>
</div>
