<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label i18n for="name" class="form-label">Name</label>
        <input type="input" class="form-control" id="name" formControlName="name">

        @if (profileForm.controls.name.invalid && (profileForm.controls.name.dirty || profileForm.controls.name.touched)) {
            @if (profileForm.controls.name.errors?.['required']) {
                <div i18n class="form-text">Name is required.</div>
            }
        }
    </div>
    <div class="mb-3">
        <label i18n for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email">

        @if (profileForm.controls.email.invalid && (profileForm.controls.email.dirty || profileForm.controls.email.touched)) {
            @if (profileForm.controls.email.errors?.['required']) {
                <div i18n class="form-text">Email is required.</div>
            }
            @if (profileForm.controls.email.errors?.['email']) {
                <div i18n class="form-text">Email address is not valid.</div>
            }
        }
    </div>
    <div class="mb-3">
        <label i18n for="username" class="form-label">Username</label>
        <input type="input" class="form-control" id="username" formControlName="username">

        @if (profileForm.controls.username.invalid && (profileForm.controls.username.dirty || profileForm.controls.username.touched)) {
            @if (profileForm.controls.username.errors?.['required']) {
                <div i18n class="form-text">Username is required.</div>
            }
        }
    </div>
    <div class="mb-3">
        <label i18n for="phone" class="form-label">Phone</label>
        <input type="input" class="form-control" id="phone" formControlName="phone">

        @if (profileForm.controls.phone.invalid && (profileForm.controls.phone.dirty || profileForm.controls.phone.touched)) {
            @if (profileForm.controls.phone.errors?.['required']) {
                <div i18n class="form-text">Phone is required.</div>
            }
        }
    </div>
    <button i18n type="submit" class="btn btn-primary" [disabled]="profileForm.invalid">Update</button>
</form>
