<div class="d-flex justify-content-end mb-1">
    <button type="button" class="btn btn-primary">Add</button>
</div>
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th scope="col">Options</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>&#64;mdo</td>
            <td>
                <button type="button" class="btn btn-success mx-1">Edit</button>
                <button type="button" class="btn btn-danger mx-1">Delete</button>
                <button type="button" class="btn btn-primary mx-1">View as</button>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>&#64;fat</td>
            <td>
                <button type="button" class="btn btn-success mx-1">Edit</button>
                <button type="button" class="btn btn-danger mx-1">Delete</button>
                <button type="button" class="btn btn-primary mx-1">View as</button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>&#64;twitter</td>
            <td>
                <button type="button" class="btn btn-success mx-1">Edit</button>
                <button type="button" class="btn btn-danger mx-1">Delete</button>
                <button type="button" class="btn btn-primary mx-1">View as</button>
            </td>
        </tr>
    </tbody>
</table>