<div class="d-flex justify-content-between mb-1">
    <div class="error">{{ error$ | async }}</div>
    <button type="button" class="add btn btn-primary" (click)="openCreateModal(createModal)">Add</button>

    <ng-template #createModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-create-title">{{ isEdit ? 'Update' : 'Create' }} user</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="createForm">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="input" class="form-control" id="name" formControlName="name">

                    @if (createForm.controls.name.invalid && (createForm.controls.name.dirty || createForm.controls.name.touched)) {
                        @if (createForm.controls.name.errors?.['required']) {
                            <div class="form-text">Name is required.</div>
                        }
                    }
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" formControlName="email">

                    @if (createForm.controls.email.invalid && (createForm.controls.email.dirty || createForm.controls.email.touched)) {
                        @if (createForm.controls.email.errors?.['required']) {
                            <div class="form-text">Email is required.</div>
                        }
                        @if (createForm.controls.email.errors?.['email']) {
                            <div class="form-text">Email address is not valid.</div>
                        }
                    }
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="input" class="form-control" id="username" formControlName="username">

                    @if (createForm.controls.username.invalid && (createForm.controls.username.dirty || createForm.controls.username.touched)) {
                        @if (createForm.controls.username.errors?.['required']) {
                            <div class="form-text">Username is required.</div>
                        }
                    }
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="input" class="form-control" id="phone" formControlName="phone">

                    @if (createForm.controls.phone.invalid && (createForm.controls.phone.dirty || createForm.controls.phone.touched)) {
                        @if (createForm.controls.phone.errors?.['required']) {
                            <div class="form-text">phone is required.</div>
                        }
                    }
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" [class]="{'btn': true, 'btn-primary': !isEdit, 'btn-success': isEdit}" (click)="modal.close('Submit click')" [disabled]="createForm.invalid">Submit</button>
        </div>
    </ng-template>
</div>
@if (users.length > 0) {
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Username</th>
                <th scope="col">Phone</th>
                <th scope="col">Options</th>
            </tr>
        </thead>
        <tbody>
            @for (user of users; track $index) {
                <tr>
                    <th scope="row">{{ user.id }}</th>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.phone }}</td>
                    <td>
                        <button type="button" class="btn btn-success mx-1" (click)="openUpdateModal(createModal, user)">Edit</button>
                        <button type="button" class="btn btn-danger mx-1" (click)="openDeleteModal(deleteModal, user.id)">Delete</button>
                        <a class="btn btn-primary mx-1" [href]="buildUserQuery(user)" target="_blank">View as</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <ng-template #deleteModal let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-delete-title">Delete user</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            Are you sure you want to delete this user?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="modal.close('Delete click')">Delete</button>
        </div>
    </ng-template>
}
